<footer class="pb-1">
  <div class="p-5 text-light">
    <img
      src="../../assets/imgX/logo-broom-white.png"
      alt="footer-logo"
      class="footer-logo img-fluid mb-2"
    />
    <p class="mb-4">Tutto il Basket Europeo in un unico posto</p>
    <div class="row">
      <div class="col-3 mb-2">
        <b>Navigazione</b>
        <p class="mt-3 mb-1">Home</p>
        <p class="mb-1">Squadre</p>
        <p>Campionati</p>
      </div>
      <div class="col-3 mb-2">
        <b>Informazioni</b>
        <p class="mt-3 mb-1" routerLink="/contact">Chi siamo</p>
        <p>Blog</p>
      </div>
      <div class="col-6 mb-2">
        <b>Contatti</b>
        <p class="mt-3 mb-1">b-room&#64;mail.com</p>
        <p class="mb-1">+38 3849174625</p>
        <p>Via Jacopo Durandi, 10 10144 Torino TO</p>
      </div>
    </div>
    <div class="text-center mt-3">
      <img
        src="../../assets/imgX/instagram.png"
        alt=""
        class="social-logo mx-1 bg-light rounded-3"
      />
      <img
        src="../../assets/imgX/instagram.png"
        alt=""
        class="social-logo mx-1 bg-light rounded-3"
      />
      <img
        src="../../assets/imgX/instagram.png"
        alt=""
        class="social-logo mx-1 bg-light rounded-3"
      />
      <img
        src="../../assets/imgX/instagram.png"
        alt=""
        class="social-logo mx-1 bg-light rounded-3"
      />

      <p class="mt-3 text-secondary">
        2024 all Right Reserved Term of use B-ROOM
      </p>
    </div>
  </div>
</footer>
