<section class="mt-navbar d-flex flex-column align-items-center"
[ngClass]="{ 'section-bg-dark text-light': themeService.isDarkMode, 'bg-white text-dark': !themeService.isDarkMode}">
  <div class="logo mt-4">
    <img [src]="themeService.isDarkMode ? '../../assets/imgX/logo-broom-white.png' : '../../assets/imgX/logo-broom.png'" alt="" class="img-fluid" />
  </div>
  <h2 class="mt-3">Accedi</h2>
  <p class="small">Personalizza la tua esperienza</p>
</section>

<section class="pt-2 p-5 footer-index rounded-bottom-5"
[ngClass]="{ 'section-bg-dark text-light': themeService.isDarkMode, 'bg-white text-dark': !themeService.isDarkMode}">
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email</label>
      <input
        type="email"
        class="form-control rounded-4"
        id="inputEmail"
        placeholder="Scrivi la tua email"
        [(ngModel)]="email" name="email"/>
    </div>
    
    <label for="inputPassword" class="form-label">Password</label>
    <div class="mb-3 input-group">
      <input
        #passwordInput
        [type]="mostraPassword ? 'text' : 'password'"
        class="form-control rounded-4"
        id="inputPassword"
        placeholder="*****"
        [(ngModel)]="password" name="password"/>
      <button
        type="button"
        class="btn btn-outline-secondary rounded-end"
        (click)="toggleMostraPassword()">
        <img
          src="../../assets/imgX/{{ mostraPassword ? 'eye.png' : 'view.png' }}"
          alt="Toggle Password"
          class="toggle-password-icon" />
      </button>
    </div>        

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="rememberMe" />
      <label class="form-check-label" for="rememberMe">Ricordami</label>
      <a href="#" class="float-end">Password dimenticata</a>
    </div>

    <button type="submit" class="btn btn-match-input rounded-4 mb-3"
    [ngClass]="{ 'home-header-bg-dark text-dark': themeService.isDarkMode, 'home-header-bg text-light': !themeService.isDarkMode}">
      Accedi
    </button>
    <button type="submit" class="btn btn-google-access rounded-4 mb-3" routerLink="/profile"
    [ngClass]="{ 'text-light': themeService.isDarkMode, 'text-dark': !themeService.isDarkMode}">
      <img
        src="../../assets/imgX/google-logo.png"
        alt=""
        class="google-logo img-fluid me-2"
      />
      Accedi con google
    </button>
  </form>
  <div class="iscrizione text-center mt-3">
    <p>Non hai un account? <a routerLink="/signin">Iscriviti</a></p>
  </div>
</section>