<section class="mt-navbar-text container d-flex justify-content-center">
    <div class="league-title d-flex justify-content-center align-items-center mt-3">
        <h2>Scelta dei preferiti</h2>
    </div>
</section>

<div class="container mt-3">
    <div *ngFor="let league of filteredLeagues" class="league-item" (click)="onLeagueClick(league.id_league)">
        <img [src]="league.logo" alt="{{ league.name }} Logo" class="league-logo">
        <h3>{{ league.name }}</h3>

        <!-- Dropdown con squadre della lega selezionata -->
        <div *ngIf="isDropdownOpen(league.id_league, 'teams')">
            <h4>Squadre della lega selezionata:</h4>
            <div *ngFor="let team of selectedLeagueTeams" class="team-item" (click)="onTeamClick(team.id)">
                <img [src]="team.logoTeam" alt="{{ team.nameTeam }} Logo" class="team-logo">
                <p>{{ team.nameTeam }}</p>

                <!-- Dropdown con giocatori del team -->
                <div *ngIf="isDropdownOpen(team.id, 'players')">
                    <h5>Giocatori del team:</h5>
                    <div *ngFor="let player of selectedTeamPlayers[team.id]" class="player-item">
                        <p>{{ player.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
