<!-- <div *ngFor="let player of players" class="px-2 d-flex flex-column align-items-center" (click)="handleCardClick(player.idPlayer)">
    <div class="player-card-img"></div>
    <p class="player-card-name text-center">{{ player.name }} {{ player.surname }}</p>
</div> -->
<div class="row row-cols-1 flex-nowrap" [ngClass]="{'row-cols-1': column, 'row-cols-lg-4 flex-lg-wrap': !column}">
    <div *ngFor="let player of players" class="px-2 d-flex flex-column align-items-center flex-shrink-1 flex-shrink-lg-0" (click)="handleCardClick(player.idPlayer)">
        <!-- <div class="col d-flex flex-wrap justify-content-center"> -->
            <!-- <div class="player-card-img"></div> -->
            <ng-container *ngIf="player.nationality === 'us-s' || player.nationality === 'af'">
                <img class="player-card-img" src="../../assets/imgX/pic-player-1.png" alt="{{ player.name }} {{ player.surname }} foto">
            </ng-container>
            <ng-container *ngIf="player.nationality === 'us-n' || player.nationality === 'eu'">
                <img class="player-card-img" src="../../assets/imgX/pic-player-3.png" alt="{{ player.name }} {{ player.surname }} foto">
            </ng-container>
            <ng-container *ngIf="player.nationality === 'as' ">
                <img class="player-card-img" src="../../assets/imgX/pic-player-2.png" alt="{{ player.name }} {{ player.surname }} foto">
            </ng-container>
            <!-- <img src="../" alt="" class="player-card-img"> -->
            <p class="player-card-name text-center m-0">{{ player.name }} {{ player.surname }}</p>
        <!-- </div> -->
    </div>
</div>
