<div class="container-fluid mt-navbar footer-index pt-5 pb-5 rounded-bottom-5"
[ngClass]="{ 'section-bg-dark text-light': themeService.isDarkMode, 'bg-white text-dark': !themeService.isDarkMode}">

  <ng-container *ngFor="let league of desiredLeagueName">
    <h2 class="my-3">{{ league }}</h2>
    
    <div class="d-flex flex-wrap justify-content-center">
      <div class="row games-results-list align-items-center px-3 m-1" *ngFor="let match of getProcessedMatchesByLeague(league)" (click)="passIdGames(match.id_games)"
      [ngClass]="{ 'home-header-bg-dark text-dark': themeService.isDarkMode, 'home-header-bg text-light': !themeService.isDarkMode}">
        <div class="col-3 d-flex flex-column align-items-center">
            <img src="{{ match.logoHome }}" alt="" class="league-logo">
            <p class="m-0 text-center">{{ match.teamHome }}</p>
        </div>
        <div class="col-2 d-flex flex-column align-items-center justify-content-center text-center">
            <div *ngIf="match.scoreHomeFinal !== null" [ngStyle]="{'background-color': match.scoreHomeFinal > match.scoreAwayFinal ? '#73c973' : '#de5e5e'}" class="score d-flex flex-column align-items-center justify-content-center">
                <p class="m-0 text-white">{{ match.scoreHomeFinal }}</p>
            </div>
            <div *ngIf="match.scoreHomeFinal == null" class="bg-white score d-flex flex-column align-items-center justify-content-center">
                <p class="text-black m-0">X</p>
            </div>
        </div>
    
        <div class="col-2 d-flex flex-column align-items-center justify-content-center text-center">
            <p class="m-0">VS</p>
        </div>
    
        <div class="col-2 d-flex flex-column align-items-center justify-content-center text-center">
            <div *ngIf="match.scoreAwayFinal !== null" [ngStyle]="{'background-color': match.scoreAwayFinal > match.scoreHomeFinal ? '#73c973' : '#de5e5e'}" class="score d-flex flex-column align-items-center justify-content-center">
                <p class="m-0 text-white">{{ match.scoreAwayFinal }}</p>
            </div>
            <div *ngIf="match.scoreAwayFinal == null" class="bg-white score d-flex flex-column align-items-center justify-content-center">
                <p class="text-black m-0">X</p>
            </div>
        </div>
    
        <div class="col-3 d-flex flex-column align-items-center">
            <img src="{{ match.logoAway }}" alt="" class="league-logo">
            <p class="m-0">{{ match.teamAway }}</p>
        </div>
      </div>
    </div>

  </ng-container>
</div>