<ng-container *ngIf="leagueName === 'Champions Leagu'; else otherContent">
    <div class="container">
        <div class="row row-cols-md-2 row-cols-xl-3">
            <ng-container *ngFor="let group of groupedTeams">
                <div class="col">
                    <h2>{{ group.groupName }}</h2>
                    <div *ngFor="let team of group.teams" class="league-list-cup d-flex justify-content-start align-items-center px-3 m-1"
                    [ngClass]="{ 'home-header-bg-dark text-dark': themeService.isDarkMode, 'home-header-bg text-light': !themeService.isDarkMode}">
                        <p class="m-0">{{ team.position }}^</p>
                        <img [src]="team.teamLogo" alt="{{ team.teamName }} Logo" class="league-logo ms-3">
                        <p class="m-0 px-1">{{ team.teamName }}</p>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>
<ng-template #otherContent>
    <!-- <div class="league-list d-flex justify-content-start align-items-center ps-3">
        <p class="m-0">Posiz.</p>
        <p class="ps-1 m-0 border-start">Logo</p>
        <p class="ps-2 m-0 name border-start">Name</p>
        <div class="d-flex">
            <p class="m-0 ps-1 pe-2 border-start">Pt.H</p>
            <p class="m-0 ps-2 pe-1 border-start">Pt.A</p>
            <p class="m-0 px-2 border-start">G</p>
            <p class="m-0 px-2 border-start">V</p>
            <p class="m-0 px-2 border-start">S</p>
        </div>
    </div>
    <div *ngFor="let leagueObj of teamsStandingData" class="m-1 d-flex justify-content-center">
        <div class="league-list d-flex justify-content-start align-items-center px-3" (click)="passIdTeam(leagueObj.standings.teamId)">
            <p class="m-0 px-1">{{ leagueObj.standings.position }}^</p>
            <img src="{{ leagueObj.logo }}" alt="" class="league-logo">
            <p *ngIf="leagueObj.teamName" class="ps-3 m-0 name">{{ leagueObj.teamName }}</p>
            <p *ngIf="!leagueObj.teamName" class="ps-3 m-0 text-warning">NOME NON DISPONIBILE</p>
            <div class="d-flex ms-2">
                <p class="m-0 px-1">{{ leagueObj.standings.pointsAgainst }}</p>
                <p class="m-0 px-1">{{ leagueObj.standings.pointsFor }}</p>
                <p class="m-0 px-1">{{ leagueObj.standings.played }}</p>
                <p class="m-0 px-1">{{ leagueObj.standings.win }}</p>
                <p class="m-0 px-1">{{ leagueObj.standings.lose }}</p>
            </div>
        </div>
    </div> -->
    <div class="container d-flex justify-content-center">

        <div class="tag-list row align-items-center my-3"
        [ngClass]="{ 'home-header-bg-dark text-dark': themeService.isDarkMode, 'home-header-bg text-light': !themeService.isDarkMode}">
            <div class="col col-sm-5 name-tag ps-2 ps-sm-5">
                <p class="m-0">Squadra</p>
            </div>
            <div class="pt-tag text-center p-0">
                <p class="m-0">Pt.C</p>
            </div>
            <div class="pt-tag text-center p-0">
                <p class="m-0">Pt.C</p>         
            </div>
            <div class="match-tag text-center p-0">
                <p class="m-0">G</p>
            </div>
            <div class="match-tag text-center p-0">
                <p class="m-0">V</p>
            </div>
            <div class="match-tag text-center p-0">
                <p class="m-0">S</p>
            </div>
        </div>
    </div>
    
    <!-- <div class="container d-flex flex-wrap justify-content-center">
        <div class="row row-cols-lg-2">
            <div *ngFor="let leagueObj of teamsStandingData" class="">
                <div class="col m-1 d-flex justify-content-center">
                    <div class="league-list d-flex justify-content-start align-items-center px-3" (click)="passIdTeam(leagueObj.standings.teamId)">
                        <p class="m-0 px-1">{{ leagueObj.standings.position }}^</p>
                        <img src="{{ leagueObj.logo }}" alt="" class="league-logo">
                        <p *ngIf="leagueObj.teamName" class="ps-3 m-0 name">{{ leagueObj.teamName }}</p>
                        <p *ngIf="!leagueObj.teamName" class="ps-3 m-0 text-warning">NOME NON DISPONIBILE</p>
                        <div class="d-flex ms-2">
                            <p class="m-0 px-1">{{ leagueObj.standings.pointsAgainst }}</p>
                            <p class="m-0 px-1">{{ leagueObj.standings.pointsFor }}</p>
                            <p class="m-0 px-1">{{ leagueObj.standings.played }}</p>
                            <p class="m-0 px-1">{{ leagueObj.standings.win }}</p>
                            <p class="m-0 px-1">{{ leagueObj.standings.lose }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col d-flex flex-wrap justify-content-center">
                <ng-container *ngFor="let teamFH of firstHalf">
                    <div class="league-list d-flex justify-content-start align-items-center px-3 m-2" (click)="passIdTeam(teamFH.standings.teamId)"
                    [ngClass]="{ 'home-header-bg-dark text-dark': themeService.isDarkMode, 'home-header-bg text-light': !themeService.isDarkMode}">
                        <p class="m-0 px-1">{{ teamFH.standings.position }}^</p>
                        <img src="{{ teamFH.logo }}" alt="" class="league-logo">
                        <p *ngIf="teamFH.teamName" class="ps-3 m-0 name">{{ teamFH.teamName }}</p>
                        <p *ngIf="!teamFH.teamName" class="ps-3 m-0 text-warning">NOME NON DISPONIBILE</p>
                        <div class="d-flex ms-2">
                            <p class="m-0 px-1">{{ teamFH.standings.pointsAgainst }}</p>
                            <p class="m-0 px-1">{{ teamFH.standings.pointsFor }}</p>
                            <p class="m-0 px-1">{{ teamFH.standings.played }}</p>
                            <p class="m-0 px-1">{{ teamFH.standings.win }}</p>
                            <p class="m-0 px-1">{{ teamFH.standings.lose }}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="col d-flex flex-wrap justify-content-center">
                <ng-container *ngFor="let teamSH of secondHalf">
                    <div class="league-list d-flex justify-content-start align-items-center px-3 m-2" (click)="passIdTeam(teamSH.standings.teamId)"
                    [ngClass]="{ 'home-header-bg-dark text-dark': themeService.isDarkMode, 'home-header-bg text-light': !themeService.isDarkMode}">
                        <p class="m-0 px-1">{{ teamSH.standings.position }}^</p>
                        <img src="{{ teamSH.logo }}" alt="" class="league-logo">
                        <p *ngIf="teamSH.teamName" class="ps-3 m-0 name">{{ teamSH.teamName }}</p>
                        <p *ngIf="!teamSH.teamName" class="ps-3 m-0 text-warning">NOME NON DISPONIBILE</p>
                        <div class="d-flex ms-2">
                            <p class="m-0 px-1">{{ teamSH.standings.pointsAgainst }}</p>
                            <p class="m-0 px-1">{{ teamSH.standings.pointsFor }}</p>
                            <p class="m-0 px-1">{{ teamSH.standings.played }}</p>
                            <p class="m-0 px-1">{{ teamSH.standings.win }}</p>
                            <p class="m-0 px-1">{{ teamSH.standings.lose }}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ng-template>
    