<div class="container mt-navbar-text d-flex justify-content-center">
    <div class="team-detail-header mt-3 d-flex align-items-center justify-content-center position-relative">
        <h2 class="position-absolute text-center text-light z-2">{{ team.name }}</h2>
        <div class="team-detail-img-overlay z-1"></div>
        <img class="team-detail-img" src="https://images.unsplash.com/flagged/photo-1580051706353-f037886dedac?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGdpb2NhdG9yaSUyMGJhc2tldHxlbnwwfHwwfHx8MA%3D%3D" alt="">
    </div>
</div>

<div class="container">
    <div *ngIf="targetTeam">
        <p>La squadra {{ targetTeam.teamName }} nella stagione {{ targetTeam.standings.season }} si è posizionata {{ targetTeam.standings.position }}</p>
        <p>In questa stagione ha accumulato un totale di {{ targetTeam.standings.win }} vittorie e {{ targetTeam.standings.lose }} sconfitte su {{ targetTeam.standings.played }} partite giocate</p>
        <h2>Statistiche</h2>
        <ul>
            <li>Punti fatti: {{ targetTeam.standings.pointsFor }}</li>
            <li>Punti subiti: {{ targetTeam.standings.pointsAgainst }}</li>
            <li>Percentuale vittore: {{ targetTeam.standings.percWin }}</li>
            <li>Percentuale sconfitte: {{ targetTeam.standings.percLose }}</li>
        </ul>
    </div>
    
    <div>
        <h2 class="pt-4 ps-3 text-primary-emphasis">Coppe</h2>
        <p *ngIf="qualified"><i class="bi bi-trophy-fill"></i>Attualmente Champions League</p>
        <p *ngIf="qualified === false"><i class="bi bi-trophy-fill"></i>Non militante in Champions League</p>
    </div>
    
</div>
<div>
    <h2 class="pt-4 ps-3 text-primary-emphasis">Compagni di squadra</h2>

    <div class="d-flex player-card-container pt-2">
        <player-card [players]="teamPlayers" class="d-flex flex-row" (cardClick)="passIdPlayer($event)"></player-card>
    </div>
</div>