<div class="container-fluid footer-index pt-5 pb-5 rounded-bottom-5"
[ngClass]="{'bg-dark text-light': themeService.isDarkMode, 'bg-white text-dark': !themeService.isDarkMode}">
    <h2 class="mt-navbar pt-3 text-center mb-0">Chi siamo</h2>

    <div class="container d-flex justify-content-center">
        
        <div class="contact-header position-relative d-flex justify-content-center align-items-center">
            <div class="position-absolute p-3">
                <p class="">Ci impegnamo a offrire contenuti chiari, coinvolgenti e autentici, progettati per coinvolgere il pubblico in un'esperienza unica nel mondo del basketball.</p>
                <p class="text-end">Vogliamo posizionarci come un punto di riferimento per i fan, offrendo un approccio dinamico e innovativo alla reportistica sportiva.</p>
            </div>
            <ng-container *ngIf="!themeService.isDarkMode">
                <img class="contact-img" src="../../assets/imgX/logo-broom.png" alt="">
            </ng-container>
            <ng-container *ngIf="themeService.isDarkMode">
                <img class="contact-img" src="../../assets/imgX/logo-broom-white.png" alt="">
            </ng-container>
        </div>

    </div>

    <div class="text-center">
        <h2>Mission</h2>
        <p >Portare la reportistica sul basketball ad un nuovo livello, coinvolgendo gli appassionati e offrendo contenuti informativi ed interessanti.</p>
    </div>

    <div class="container my-2 my-lg-5">
        <h2 class="text-center">Il Team</h2>
        <div class="row row-cols-1 row-cols-md-2 py-4">
            <div class="col d-flex justify-content-center ps-2 pe-0">
                <img class="contact-profile p-0" src="../../assets/imgX/lorenzo-artico.svg" alt="Lorenzo Artico profile">
                <div class="d-flex flex-column px-3">
                    <p class="fw-bolder m-0">Lorenzo Artico</p>
                    <p class="m-0 pt-2">Digital Strategist</p>
                </div>            
            </div>
            <div class="col d-flex justify-content-center my-3 pe-3">
                <div class=" d-flex flex-column px-3">
                    <p class="fw-bolder m-0 text-end">Marco Tocco</p>
                    <p class="m-0 pt-2 text-end">Digital Strategist</p>
                </div>           
                <img class="contact-profile p-0" src="../../assets/imgX/marco-tocco.png" alt="Marco Tocco Profile"> 
            </div>
            <div class="col d-flex justify-content-center ps-2 pe-0">
                <img class="contact-profile p-0" src="../../assets/imgX/luca-di-cera.svg" alt="Luca Di Cera Profile">
                <div class=" d-flex flex-column px-3">
                    <p class="fw-bolder m-0">Luca Di Cera</p>
                    <p class="m-0 pt-2">Digital Strategist</p>
                </div>            
            </div>
            <div class="col d-flex justify-content-center my-3 pe-0">
                <div class=" d-flex flex-column px-3">
                    <p class="fw-bolder m-0 text-end">Simone Motta</p>
                    <p class="m-0 pt-2 text-end">Front End</p>
                </div>           
                <img class="contact-profile p-0" src="../../assets/imgX/simone-motta.png" alt="Simone Motta Profile"> 
            </div>
            <div class="col d-flex justify-content-center ps-2 pe-0">
                <img class="contact-profile p-0" src="../../assets/imgX/carlo-pellicano.png" alt="Carlo Pellicano Profile">
                <div class=" d-flex flex-column px-3">
                    <p class="fw-bolder m-0">Carlo Pellicano</p>
                    <p class="m-0 pt-2">Front End</p>
                </div>            
            </div>
            <div class="col d-flex justify-content-center my-3 pe-0">
                <div class=" d-flex flex-column px-3">
                    <p class="fw-bolder m-0 text-end">Marta Novella</p>
                    <p class="m-0 pt-2 text-end">Front End</p>
                </div>           
                <img class="contact-profile p-0" src="../../assets/imgX/marta-novella.png" alt="Marta Novella Profile"> 
            </div>
            <div class="col d-flex justify-content-center ps-4 pe-0">
                <img class="contact-profile p-0" src="../../assets/imgX/marco-pacchiotti.svg" alt="Marco Pacchiotti Profile">
                <div class=" d-flex flex-column px-3">
                    <p class="fw-bolder m-0">Marco Pacchiotti</p>
                    <p class="m-0 pt-2">Back End</p>
                </div>            
            </div>
            <div class="col d-flex justify-content-center pe-4 my-3 pe-0">
                <div class=" d-flex flex-column px-3">
                    <p class="fw-bolder m-0 text-end">Giorgio Magliocca</p>
                    <p class="m-0 pt-2 text-end">Back End</p>
                </div>           
                <img class="contact-profile p-0" src="../../assets/imgX/giorgio-magliocca.svg" alt="Giorgio Magliocca Profile"> 
            </div>
        </div>
    </div>

    <p class="text-center py-5 px-3">Un team dedicato, reattivo e preciso. Ma la cosa più importante è che attento alle tue esigenze.</p>

</div>
