<h2 class="mt-navbar pt-3 text-center mb-0">Chi siamo</h2>

<div class="container d-flex justify-content-center">
    
    <div class="contact-header position-relative d-flex justify-content-center align-items-center">
        <div class="position-absolute p-3">
            <p class="">Ci impegnamo a offrire contenuti chiari, coinvolgenti e autentici, progettati per coinvolgere il pubblico in un'esperienza unica nel mondo del basketball.</p>
            <p class="text-end">Vogliamo posizionarci come un punto di riferimento per i fan, offrendo un approccio dinamico e innovativo alla reportistica sportiva.</p>
        </div>
        <img class="contact-img" src="../../assets/imgX/logo-broom.png" alt="">
    </div>

</div>

<div class="text-center">
    <h2>Mission</h2>
    <p >Portare la reportistica sul basketball ad un nuovo livello, coinvolgendo gli appassionati e offrendo contenuti informativi ed interessanti.</p>
</div>

<div class="container my-2 my-lg-5">
    <h2 class="text-center">Il Team</h2>
    <div class="row row-cols-1 row-cols-md-2 py-4">
        <div class="col d-flex justify-content-center pe-0">
            <img class="contact-profile p-0" src="" alt="">
            <div class=" d-flex flex-column px-3">
                <p>Nome</p>
                <p>Professione</p>
            </div>            
        </div>
        <div class="col d-flex justify-content-center my-3 pe-0">
            <div class=" d-flex flex-column px-3">
                <p>Nome</p>
                <p>Professione</p>
            </div>           
            <img class="contact-profile p-0" src="" alt=""> 
        </div>
        <div class="col d-flex justify-content-center pe-0">
            <img class="contact-profile p-0" src="" alt="">
            <div class=" d-flex flex-column px-3">
                <p>Nome</p>
                <p>Professione</p>
            </div>            
        </div>
        <div class="col d-flex justify-content-center my-3 pe-0">
            <div class=" d-flex flex-column px-3">
                <p>Nome</p>
                <p>Professione</p>
            </div>           
            <img class="contact-profile p-0" src="" alt=""> 
        </div>
        <div class="col d-flex justify-content-center pe-0">
            <img class="contact-profile p-0" src="" alt="">
            <div class=" d-flex flex-column px-3">
                <p>Nome</p>
                <p>Professione</p>
            </div>            
        </div>
        <div class="col d-flex justify-content-center my-3 pe-0">
            <div class=" d-flex flex-column px-3">
                <p>Nome</p>
                <p>Professione</p>
            </div>           
            <img class="contact-profile p-0" src="" alt=""> 
        </div>
        <div class="col d-flex justify-content-center pe-0">
            <img class="contact-profile p-0" src="" alt="">
            <div class=" d-flex flex-column px-3">
                <p>Nome</p>
                <p>Professione</p>
            </div>            
        </div>
        <div class="col d-flex justify-content-center my-3 pe-0">
            <div class=" d-flex flex-column px-3">
                <p>Nome</p>
                <p>Professione</p>
            </div>           
            <img class="contact-profile p-0" src="" alt=""> 
        </div>
    </div>
</div>

<p class="text-center py-5 px-3">Un team dedicato, reattivo e preciso. Ma la cosa più importante è che attento alle tue esigenze.</p>

<app-footer></app-footer>