/* You can add global styles to this file, and also import other style files */


/* Global */

$primary-color: #1b1466;
$primary-color-dark: #FF8038;

.mt-navbar {
    margin-top: 80px;
}

.section-bg-dark {
    background-color: #242424;
}

// check
.text-dark-1 {
    color: black;
}

.text-light-1 {
    color: white;
}

/* Navbar */

.navbar {
    height: 80px;
}

.navbar-bg {
    background-color: $primary-color;
}

.navbar-bg-dark {
    background-color: #FF8038;
}

.offcanvas-bg-dark {
    background-color: #242424;
}

// #navbar-a, #navbar-a1, #navbar-a2, #navbar-a3, #navbar-a4, #navbar-a5 {
//     color: rgb(216, 33, 33);
// }

.logo {
    width: 113px;
    height: 127px;
}

.navbar-search {
    width: 168px;
    height: 34px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.navbar-search-bg {
    background-color: white;
}

.navbar-search-bg-dark {
    background-color: black;
}

// .white-bg .navbar-search {
//     background-color: #EDEDED;
// }

.navbar-input {
    width: 140px;
    outline: none;
    border: none;
    background: transparent;
}

// .bi {
//     color: white;
// }

// .white-bg .bi {
//     color: #1b1466;
// }

/* Home */

.prova {
    position: relative;
    z-index: 1;
}

.home-header {
    // margin-top: 80px;
    width: 100vw;
    height: 250px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.home-header-bg {
    background-color: $primary-color;
}

.home-header-bg-dark {
    background-color: #FF8038;
}

.div1 {
    width: 215px;
    height: 190px;
    grid-area: 1 / 1 / 2 / 3;
    padding-left: 20px;
    z-index: 1;
}

.div1-h2 {
    font-size: 30px;
}

.div2 {
    width: 257px;
    height: 260px;
    grid-area: 1 / 2 / 2 / 4;
}

.home-description {
    width: 100vw;
    height: auto;
}

/* Home card */

.home-card {
    width: 321px;
    height: 214px;
}

.home-card-img {
    border-radius: 30px;
}

.home-card-title {
    width: 321px;
    height: 214px;
    color: white;
    border-radius: 0 0 30px 30px;
    transform: translateY(60px);
}

.home-card-title-bg {
    background-color: $primary-color;
}

.home-card-title-bg-dark {
    background-color: #FF8038;
}

.home-card-container {
    width: 100vw;
}

/* Card Blog */

.blog-card {
    width: 324px;
    height: 164px;
    border-radius: 20px;
    background-color: #EDEDED;
}

.blog-card-a {
    text-decoration: none;
    color: #242424;
}

.blog-card-img {
    width: 149px;
    height: 164px;
    border-radius: 20px;
}

.blog-card-body {
    // font-size: 14px;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    letter-spacing: -0.21px;
}

/* Blog Detail */

.blog-detail-header {
    width: 312px;
    height: 104px;
    border-radius: 20px;
    overflow: hidden;
    color: $primary-color;
}

.blog-detail-img {
    width: 400px;
    height: auto;
    opacity: 0.2;
}

// .c {
//     background: transparent;
// }

/* Contact */

.contact-img {
    width: 320px;
    height: auto;
    opacity: 0.1;
}

.contact-profile {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-color: red;
}

.c {
    width: 100vw;
}

/* Leagues */

.league-list {
    width: 338px;
    height: 128px;
    border-radius: 70px;
    background-color: $primary-color;
    color: white;
}

.league-logo {
    width: 70px;
    height: 50px;
}

/* Profile */

.profile-pic {
    width: 107px;
    height: 107px;
}

/* Login */

.btn-match-input {
    width: 100%;
    background-color: $primary-color;
    color: white;
}

.btn-google-access {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid #ccc;
}

.google-logo {
    width: 13px;
}

/* Footer */

footer {
    font-size: xx-small;
    margin-top: -30px;
    position: relative;
    z-index: 0;
}

.footer-bg {
    background-color: $primary-color;
}

.footer-bg-dark {
    background-color: $primary-color-dark;
}

.footer-logo {
    width: 42px;
    height: 50px;
}

.social-logo {
    width: 23.5px;
    height: 23.5px;
}

/* Extra small devices (xs) - Phones (≥576px) */
@media screen and (min-width: 576px) {}

/* Small devices (sm) - Tablets (≥768px) */
@media screen and (min-width: 768px) {

    .contact-header {
        width: 400px;
    }

}

/* Medium devices (md) - Desktops (≥992px) */
@media screen and (min-width: 992px) {

    .logo {
        width: 70px;
        height: auto;
    }

    .navbar-bg {
        background-color: white;
    }

    #navbar-a,
    #navbar-a1,
    #navbar-a2,
    #navbar-a3,
    #navbar-a4,
    #navbar-a5 {
        color: white;
    }

    // check
    .text-light-1 {
        color: black;
    }

    .offcanvas-bg-dark {
        background-color: transparent;
    }

    .contact-header {
        width: 600px;
    }

}

/* Large devices (lg) - Desktops (≥1200px) */
@media screen and (min-width: 1200px) {}

/* Extra large devices (xl) - Large Desktops (≥1400px) */
@media screen and (min-width: 1400px) {}