<div class="mt-navbar-text ps-2 container">
    <div class="row row-cols-2">
        <div class="col">
            <h2 class="text-primary-emphasis">{{ singlePlayer.name }} {{ singlePlayer.surname }}</h2>
            <h5 class="text-primary-emphasis">INFO</h5>
            <p class="mb-0" *ngIf="league"><span class="fw-bolder text-primary-emphasis">LEGA:</span> {{ league.name }}</p>
            <p class="mb-0" *ngIf="playerTeam"><span class="fw-bolder text-primary-emphasis">TEAM:</span> {{ playerTeam.name }}</p>
        </div>
        <div class="col d-flex justify-content-center justify-content-lg-start">
            <img class="player-img" src="" alt="">
        </div>
    </div>
</div>

<div class="container-fluid d-flex row row-cols-1 row-cols-lg-2">
<div class="player-info mt-2 p-3 p-lg-4 col d-lg-flex flex-column justify-content-center" *ngIf="playerTeam">
    <h3>STATISTICHE</h3>
    <p>{{ singlePlayer.name }} {{ singlePlayer.surname }} nella stagione {{ singlePlayer.season }} ha segnato {{ singlePlayer.pointScored }} punti, giocando un minutaggio pari a {{ singlePlayer.playedMin }} min</p>
    <p>Il numero {{ singlePlayer.meshNumber }} del {{ playerTeam.name }} ha tentato {{ singlePlayer.shots2 }} tiri da 2 e {{ singlePlayer.shots3 }} tiri da 3 e ottenendo {{ singlePlayer.assist }} assist</p>
    <h3>INFO PERSONALI</h3>
    <ul>
        <li>Età: {{ singlePlayer.age }}</li>
        <li>Altezza: {{ singlePlayer.height }} cm</li>
        <li>Peso: {{ singlePlayer.weight }} Kg</li>
        <li>Nazionalità: {{ singlePlayer.nationality }}</li>
    </ul>
</div>

<div class="col p-0" *ngIf="processedMatches[0]">
    <h2 class="pt-4 ps-3 text-primary-emphasis">Ultima partite</h2>
    
    <div class="row results-list align-items-center px-3" *ngIf="processedMatches[0]" (click)="passIdGames(processedMatches[0].id_games)">
        <div class="col-3 d-flex flex-column align-items-center">
            <img src="{{ processedMatches[0].logoHome }}" alt="" class="league-logo">
            <p class="m-0 text-center">{{ processedMatches[0].teamHome }}</p>
        </div>
        <div class="col-2 d-flex flex-column align-items-center justify-content-center text-center">
            <div *ngIf="processedMatches[0].scoreHomeFinal !== null" [ngStyle]="{'background-color': processedMatches[0].scoreHomeFinal > processedMatches[0].scoreAwayFinal ? '#73c973' : '#de5e5e'}" class="score d-flex flex-column align-items-center justify-content-center">
                <p class="m-0 text-white">{{ processedMatches[0].scoreHomeFinal }}</p>
            </div>
            <div *ngIf="processedMatches[0].scoreHomeFinal == null" class="bg-white score d-flex flex-column align-items-center justify-content-center">
                <p class="text-black m-0">X</p>
            </div>
        </div>
    
        <div class="col-2 d-flex flex-column align-items-center justify-content-center text-center">
            <p class="m-0">VS</p>
        </div>
    
        <div class="col-2 d-flex flex-column align-items-center justify-content-center text-center">
            <div *ngIf="processedMatches[0].scoreAwayFinal !== null" [ngStyle]="{'background-color': processedMatches[0].scoreAwayFinal > processedMatches[0].scoreHomeFinal ? '#73c973' : '#de5e5e'}" class="score d-flex flex-column align-items-center justify-content-center">
                <p class="m-0 text-white">{{ processedMatches[0].scoreAwayFinal }}</p>
            </div>
            <div *ngIf="processedMatches[0].scoreAwayFinal == null" class="bg-white score d-flex flex-column align-items-center justify-content-center">
                <p class="text-black m-0">X</p>
            </div>
        </div>
    
        <div class="col-3 d-flex flex-column align-items-center">
            <img src="{{ processedMatches[0].logoAway }}" alt="" class="league-logo">
            <p class="m-0">{{ processedMatches[0].teamAway }}</p>
        </div>
    </div>
    
</div>

<div>
    <h2 class="pt-4 ps-3 text-primary-emphasis">Compagni di squadra</h2>

    <div class="d-flex player-card-container pt-2">
        <player-card [players]="playerTeammates" class="d-flex flex-row" (cardClick)="passIdPlayer($event)"></player-card>
    </div>
</div>
