<section class="mt-navbar-text container d-flex justify-content-center">

    <div class="league-title d-flex justify-content-center align-items-center mt-3">
        <h2 *ngIf="league">{{ league.name }}</h2>
    </div>

</section>

<div class="d-flex flex-row justify-content-center mt-3">
    <button class="tab p-2 me-1 rounded-3" [class.active]="selectedButton === 'A'" (click)="showComponent('A')">Classifica</button>
    <button class="tab p-2 me-1 rounded-3" [class.active]="selectedButton === 'B'" (click)="showComponent('B')">Marcatori</button>
    <button class="tab p-2 me-1 rounded-3" [class.active]="selectedButton === 'C'" (click)="showComponent('C')">Assist</button>
    <button class="tab p-2 me-1 rounded-3" [class.active]="selectedButton === 'D'" (click)="showComponent('D')">Risultati</button>
</div>


<div *ngIf="componentSelected === 'A'" class="container footer-index pt-3 pb-5 rounded-bottom-5 bg-white">
    <app-ranking *ngIf="league" [teamsData]="leaguesData" [leagueName]="league.name"></app-ranking>
</div>
<div *ngIf="componentSelected === 'B'">
    <app-scorer [teamsData]="leaguesData"></app-scorer>
</div>
<div *ngIf="componentSelected === 'C'">
    <app-assist [teamsData]="leaguesData"></app-assist>
</div>
<div *ngIf="componentSelected === 'D'">
    <app-league-match [leagueName]="league.name"></app-league-match>
</div>

<!-- <section class="container footer-index pt-3 pb-5 rounded-bottom-5 bg-white">  
    <div *ngFor="let leagueObj of leaguesData" class="d-flex justify-content-center pt-3" (click)="passIdTeam(leagueObj.teamId)">
        <div class="league-list d-flex justify-content-start align-items-center ps-5" *ngIf="leagueObj">
            <p class="mb-0 pe-2">{{ leagueObj.position }}^</p>
            <img src="{{ leagueObj.teamLogo }}" alt="" class="league-logo">
            <p class="ps-3 m-0" *ngIf="leagueObj">{{ leagueObj.teamName }}</p>
        </div>
    </div>
</section> -->

<!-- <section class="container footer-index pt-3 pb-5 rounded-bottom-5 bg-white">  
    <div *ngFor="let league of leaguesData" class="d-flex justify-content-center pt-3" (click)="passIdTeam(league.id)">
        <div class="league-list d-flex justify-content-start align-items-center ps-5" *ngIf="league">
            <img src="{{ league.logoTeam }}" alt="" class="league-logo">
            <p class="ps-3 m-0">{{ league.nameTeam }}</p>
        </div>
    </div>
</section> -->