<section class="mt-navbar d-flex flex-column align-items-center">
  <div class="profile-pic mt-5">
    <img src="../../assets/imgX/profile-pic.png" alt="" class="img-fluid" />
  </div>
  <div class="profile-name mt-3">
    <b>{{ profile?.name }}</b>
  </div>
</section>

<section class="mt-5 m-4">
  <div class="row mb-4 mt-4" (click)="toggleDropdown('informazioni')">
    <div class="col-2 text-center">
      <i class="bi bi-info-circle"></i>
    </div>
    <div class="col-8">
      <p>Informazioni</p>
    </div>
    <div class="col-2">
      <p>></p>
    </div>
  </div>

  <div class="row mb-4" *ngIf="dropdown === 'informazioni'" class="dropdown">
    <div class="text-center border rounded-4 p-3">
      <p>Nome: {{ profile?.name }}</p>
      <p>Cognome: {{ profile?.surname }}</p>
      <p>Email: {{ profile?.email }}</p>
      <p>Id: {{ profile?.idUser }}</p>
    </div>
  </div>

  <div class="row mb-4 mt-4" (click)="toggleDropdown('cambiaPassword')">
    <div class="col-2 text-center">
      <i class="bi bi-info-circle"></i>
    </div>
    <div class="col-8">
      <p>Cambia password</p>
    </div>
    <div class="col-2">
      <p>></p>
    </div>
  </div>

  <div class="row mb-4" *ngIf="dropdown === 'cambiaPassword'" class="dropdown">
    <div class="text-center border rounded-4 p-3">
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="newPassword" class="form-label">Nuova password</label>
          <input
            type="password"
            class="form-control rounded-4"
            id="newPassword"
            placeholder="*****"
            [(ngModel)]="newPassword" name="newPassword"/>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Conferma password</label>
          <input
            type="password"
            class="form-control rounded-4"
            id="confirmPassword"
            placeholder="*****"
            [(ngModel)]="confirmPassword" name="confirmPassword"/>
        </div>
        <button type="submit" class="btn btn-match-input rounded-4 mb-3">
          Invia
        </button>
      </form>
    </div>
  </div>

  <div class="row mb-4 mt-4" (click)="toggleDropdown('eliminaAccount')">
    <div class="col-2 text-center">
      <i class="bi bi-info-circle"></i>
    </div>
    <div class="col-8">
      <p>Elimina account</p>
    </div>
    <div class="col-2">
      <p>></p>
    </div>
  </div>

  <div class="row mb-4" *ngIf="dropdown === 'eliminaAccount'" class="dropdown">
    <div class="text-center border rounded-4 p-3">
      <p>Vuoi davvero eliminare l'account?</p>
      <button type="button" class="btn btn-danger me-3" style="width: 60px;" (click)="userDelete()">
        Si
      </button>
      <button type="button" class="btn btn-light" style="width: 60px;">
        No
      </button>
    </div>
  </div>

  <div class="row mb-4 mt-4 text-danger" (click)="toggleDropdown('esci')">
    <div class="col-2 text-center">
      <i class="bi bi-info-circle"></i>
    </div>
    <div class="col-8">
      <p>Esci</p>
    </div>
    <div class="col-2">
      <p>></p>
    </div>
  </div>

  <div class="row mb-4" *ngIf="dropdown === 'esci'" class="dropdown">
    <div class="text-center border rounded-4 p-3">
      <p>Vuoi davvero effettuare il Log Out?</p>
      <button type="button" class="btn btn-danger me-3" style="width: 60px;" (click)="userExit()">
        Si
      </button>
      <button type="button" class="btn btn-light" style="width: 60px;">
        No
      </button>
    </div>
  </div>
</section>