<!-- <section
  class="home-header mt-navbar justify-content-start align-items-center d-md-flex justify-content-center"
  [ngClass]="{'home-header-bg-dark': themeService.isDarkMode, 'home-header-bg': !themeService.isDarkMode}">
  <div class="div1">
    <h2 class="div1-h2">
      Tutto il <span class="text-warning"> basket Europeo</span> in un unico posto
    </h2>
    <button
      class="btn"
      [ngClass]="{
        'btn-warning': themeService.isDarkMode,
        'btn-light': !themeService.isDarkMode
      }"
    >
      Scopri
    </button>
  </div>
  <div class="div2">
    <img
      src="../../assets/imgX/basketball71.png"
      alt=""
      width="257px"
      height="260px"
    />
  </div>
</section> -->

<div class="">
  <section class="mt-navbar prova-section-home"
  [ngClass]="{'bg-dark': themeService.isDarkMode, 'bg-white': !themeService.isDarkMode}">
    <div class="prova-home-header d-flex" [ngClass]="{'home-header-bg-dark': themeService.isDarkMode, 'home-header-bg text-light': !themeService.isDarkMode}">
      <ng-container  *ngIf="!languageService.isEnglishMode">
        <div class="prova-home-title">
          <h2>Tutto il <span class="text-warning"> basket Europeo</span> in un unico posto</h2>
          <button
            class="btn"
            [ngClass]="{ 'btn-warning': themeService.isDarkMode, 'btn-light': !themeService.isDarkMode }"
            [routerLink]="['/contact']">
              Scopri
          </button>
        </div>
      </ng-container>
      <ng-container  *ngIf="languageService.isEnglishMode">
        <div class="prova-home-title-en">
          <h2>All the <span class="text-warning"> European basket</span> in one place</h2>
          <button
            class="btn"
            [ngClass]="{ 'btn-warning': themeService.isDarkMode, 'btn-light': !themeService.isDarkMode }"
            [routerLink]="['/contact']">
              More
          </button>
        </div>
      </ng-container>
      <div class="prova-home-img">
        <img
          src="../../assets/imgX/basketball-home.png"
          alt=""
          width="400px"
          height="500px"
          class="prova-img-h"
        />
      </div>
    </div>
  </section>
</div>

<section
  class="home-description text-center pb-5"
  [ngClass]="{ 'section-bg-dark text-light': themeService.isDarkMode }"
>
  <ng-container *ngIf="!languageService.isEnglishMode">
    <h2>Chi è B-Room?</h2>
    <p class="p-2">
      L'esperienza analitica sul basketball che rompe le barriere e coinvolge la
      quarta dimensione. Un viaggio emozionante nel mondo della pallacanestro
      europea, <span class="fw-bold">progettato per te.</span>
    </p>
  </ng-container>
  <ng-container *ngIf="languageService.isEnglishMode">
    <h2>Who is B-Room?</h2>
    <p class="p-2">
      The analytical basketball experience that breaks barriers and involves the fourth dimension. An exciting journey into the world of European basketball, <span class="fw-bold"> designed for you.</span>
    </p>
  </ng-container>
</section>

<section
  class="d-flex justify-content-center pb-3"
  [ngClass]="{'section-bg-dark': themeService.isDarkMode}"
>
  <div class="row row-cols-1 home-card-container">
    <div
      class="col my-2 d-flex flex-wrap justify-content-center mt-2 mb-5 px-0"
      [routerLink]="['/team']"
    >
      <div
        class="home-card-title position-absolute d-flex justify-content-center align-items-end"
        [ngClass]="{
          'home-card-title-bg-dark text-dark': themeService.isDarkMode,
          'home-card-title-bg': !themeService.isDarkMode
        }"
      >
        
        <ng-container *ngIf="!languageService.isEnglishMode">
          <h2 class="pb-2">Squadre</h2>
        </ng-container>
        <ng-container *ngIf="languageService.isEnglishMode">
          <h2 class="pb-2">Teams</h2>
        </ng-container>
      </div>
      <div class="home-card position-relative">
        <img
          class="img-fluid home-card-img"
          src="../../assets/imgX/squadre-bg.jpeg"
          alt=""
        />
      </div>
    </div>

    <div class="col my-2 d-flex flex-wrap justify-content-center my-5 px-0"
    [routerLink]="['/games']">
      <div
        class="home-card-title position-absolute d-flex justify-content-center align-items-end"
        [ngClass]="{
          'home-card-title-bg-dark text-dark': themeService.isDarkMode,
          'home-card-title-bg': !themeService.isDarkMode
        }"
      >
        <ng-container *ngIf="!languageService.isEnglishMode">
          <h2 class="pb-2">Ultime Partite</h2>
        </ng-container>
        <ng-container *ngIf="languageService.isEnglishMode">
          <h2 class="pb-2">Last Matches</h2>
        </ng-container>
      </div>
      <div class="home-card position-relative">
        <img
          class="img-fluid home-card-img"
          src="../../assets/imgX/ultime-partite-bg.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="col my-2 d-flex flex-wrap justify-content-center my-5 px-0"
    [routerLink]="['/countries']">
      <div
        class="home-card-title position-absolute d-flex justify-content-center align-items-end"
        [ngClass]="{
          'home-card-title-bg-dark text-dark': themeService.isDarkMode,
          'home-card-title-bg': !themeService.isDarkMode
        }"
      >
        <ng-container *ngIf="!languageService.isEnglishMode">
          <h2 class="pb-2">Campionati</h2>
        </ng-container>
        <ng-container *ngIf="languageService.isEnglishMode">
          <h2 class="pb-2">Championships</h2>
        </ng-container>
      </div>
      <div class="home-card position-relative">
        <img
          class="img-fluid home-card-img"
          src="../../assets/imgX/campionati-bg.webp"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section
  class="footer-index pt-5 pb-5 rounded-bottom-5"
  [ngClass]="{ 'section-bg-dark text-light': themeService.isDarkMode, 'bg-white text-dark': !themeService.isDarkMode}"
>
  <h2 class="text-center">Blog</h2>

  <ng-container *ngIf="!languageService.isEnglishMode">
    
    <div class="d-flex justify-content-center">
      <div class="row row-cols-1 row-cols-md-2 home-card-container justify-content-center">
        <div class="col d-flex flex-wrap justify-content-center px-0 my-4">
          <a href="http://rimbreakers.ddns.net/wordpress/index.php/2024/01/23/stelle-scintillanti-i-migliori-giocatori-della-stagione-del-basket-europeo-2022/" class="text-decoration-none" target="_blank">
            <blog-card
              class="mt-5"
              [imageUrl]="'../../assets/imgX/primo-blog.jpg'"
              [topic]="'Riguardiamo I Migliori Giocatori della Stagione 2022'"
              [date]="'20/01/2024'"
            ></blog-card>
          </a>
        </div>
  
        <div class="col d-flex flex-wrap justify-content-center px-0 my-4">
          <a href="http://rimbreakers.ddns.net/wordpress/index.php/2024/01/23/passo-sicuro-le-migliori-scarpe-da-basket/" class="text-decoration-none" target="_blank">
            <blog-card
              class="mt-5"
              [imageUrl]="'../../assets/imgX/secondo-blog.jpg'"
              [topic]="'Passo Sicuro! Le Migliori Scarpe da Basket'"
              [date]="'13/01/2024'"
            ></blog-card>
          </a>
        </div>
  
        <div class="col d-flex flex-wrap justify-content-center px-0 my-4">
          <a href="http://rimbreakers.ddns.net/wordpress/index.php/2024/01/23/tra-le-quinte-delleccellenza-un-viaggio-nellanima-di-dennis-schroeder-un-giocatore-di-prima-categoria/" class="text-decoration-none" target="_blank">
            <blog-card
              class="mt-5"
              [imageUrl]="'../../assets/imgX/terzo-blog.jpg'"
              [topic]="'Dietro le Quinte con un Giocatore di Prima Categoria'"
              [date]="'06/01/2024'"
            ></blog-card>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="languageService.isEnglishMode">
    <div class="d-flex justify-content-center">
      <div class="row row-cols-1 row-cols-md-2 home-card-container justify-content-center">
        <div class="col d-flex flex-wrap justify-content-center px-0">
          <blog-card
            class="mt-5"
            [imageUrl]="'../../assets/imgX/primo-blog.jpg'"
            [topic]="'Let’s see The Best Basketball Players of 2022 Season'"
            [date]="'20/01/2024'"
          ></blog-card>
        </div>
  
        <div class="col d-flex flex-wrap justify-content-center px-0">
          <blog-card
            class="mt-5"
            [imageUrl]="'../../assets/imgX/secondo-blog.jpg'"
            [topic]="'Safe passage! The Best Shoes from Basketbal'"
            [date]="'13/01/2024'"
          ></blog-card>
        </div>
  
        <div class="col d-flex flex-wrap justify-content-center px-0">
          <blog-card
            class="mt-5"
            [imageUrl]="'../../assets/imgX/terzo-blog.jpg'"
            [topic]="'Behind the Scenes with a First Category Player'"
            [date]="'06/01/2024'"
          ></blog-card>
        </div>
      </div>
    </div>    
  </ng-container>

</section>

<!-- <app-footer></app-footer> -->